<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kinematik in eine Raumrichtung</title>
<script defer src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
	<h3><u>Kinematik in eine Raumrichtung</u></h3>

	<label for="way_function_input">s<sub>(t)</sub> = </label>
	<input id="way_function_input" type="text">
	<label for="time_value_input">t = </label>
	<input id="time_value_input" type="text">
	<br>
	<input id="way_function_mathjax" type="text" disabled>
    <input id="way_for_time_value_input" type="text" disabled>
	<br>
	<input id="speed_function_mathjax" type="text" disabled>
    <input id="speed_for_time_value_input" type="text" disabled>
</body>