<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kinematik in eine Raumrichtung</title>
<script defer src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
	<label for="way_function_input">s<sub>(t)</sub> = </label>
    <input id="way_function_input" type="text" th:field="*{keyword}">
	<label for="time_value_input">t</sub> = </label>
    <input id="time_value_input" type="text" th:field="*{keyword}">
	<br>
	<label for="way_function_mathjax">s<sub>(t)</sub> = </label>
</body>