<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jasic</title>
<link id="link_main_theme" type="text/css" rel="stylesheet"
	href="css/themes/basic/main_theme.css" />
</head>
<body>
	<div th:insert="fragments/static_content_fragments.html :: header"> </div>
	<div th:insert="fragments/static_content_fragments.html :: navigation_bar"> </div>
	<main>
			
<!-- 			<link rel="import" th:href="@{no_subject_available.html}"> -->
<!-- 		<form action="enter_application" method="post"> -->
<!-- 			<input id="id_theory_submit" type="submit" value="Theorie" -->
<!-- 				name="theory"> <input id="id_practice_submit" type="submit" -->
<!-- 				value="Praxis" name="practice"> -->
<!-- 		</form> -->
	</main>
</body>
</html>