<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: style(pathPrefix='???')"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: mjax_script"></th:block>

<th:block
	th:insert="fragments/static_content_fragments.html :: slide_controller"></th:block>

</head>
<body onload="index(document)">
	<main>
		<div
			th:insert="fragments/static_content_fragments.html :: content_top_header(content=#{PATH})">
		</div>
		<table>
			<tr>
				<td>
					<button id="page_flip_btn_left" class="cls_page_flip_btn cls_page_flip_btn_left" onclick="previous(document)"></button>
				</td>
				<td class="cls_main_td">
					<section id="slide_container">
					
						<!-- Table of contents -->
						<section id="slide_0" class="cls_slide">
							<div
								th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{TABLE.OF.CONTENTS})">
							</div>

							<th:block
								th:insert="fragments/slide_fragments.html :: slide_index_item(slide_id='slide_1', item_text=#{???})"></th:block>
							<th:block
								th:insert="fragments/slide_fragments.html :: slide_index_item(slide_id='slide_2', item_text=#{???})"></th:block>
						</section>
						
						<section id="slide_1" class="csl_slide">
							<div
								th:insert="fragments/static_content_fragments.html :: content_section_header(#{???})">
							</div>
							<p class="cls_content_text" th:text="#{???}"></p>
							<th:block
								th:insert="fragments/slide_fragments.html :: slide_botton_menu_reduced()"></th:block>
							<section class="cls_slide_cite"></section>
						</section>
						
						<section id="slide_2" class="csl_slide">
							<div
								th:insert="fragments/static_content_fragments.html :: content_section_header(#{???})">
							</div>
							<p class="cls_content_text" th:text="#{???}"></p>
							<th:block
								th:insert="fragments/slide_fragments.html :: slide_botton_menu_reduced()"></th:block>
							<section class="cls_slide_cite"></section>
						</section>
					</section>
				</td>
				<td>
					<button id="page_flip_btn_right" class="cls_page_flip_btn cls_page_flip_btn_right" onclick="next(document)"></button>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>