<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<link rel="stylesheet" th:href="@{css/themes/basic/main_theme.css}" />
</head>
<body>
	<div th:insert="fragments/static_content_fragments.html :: header"> </div>
	<div th:insert="fragments/static_content_fragments.html :: navigation_bar"> </div>
	<main>
	</main>
	<div th:insert="fragments/static_content_fragments.html :: footer"> </div>
</body>
</html>