
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: style(pathPrefix='???')"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: mjax_script"></th:block>
<th:block th:insert="fragments/modal_window_fragments.html :: modal_css"></th:block>

<!-- Don't forget to add the example page to the ExampleController -->
<th:block
	th:insert="fragments/slide_fragments.html :: slide_botton_menu(example_link='/examples/???' , exercise_link='/exercises/???')"></th:block>

<!-- Don't forget to add the index page to the IndexController -->
<a class="cls_indexed_term" href="javascript:openPopup('/index/???')">???</a>

<section class="csl_slide">
	<div
		th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{???})">
	</div>
	<p class="cls_content_text" th:text="#{???}"></p>
	<th:block
		th:insert="fragments/slide_fragments.html :: slide_botton_menu(example_link='/examples/???' , exercise_link='/exercises/???')"></th:block>
	<section class="cls_slide_cite"></section>
</section>

<table>
	<tr>
		<td>
			<button id="page_flip_btn_left" class="cls_page_flip_btn cls_page_flip_btn_left"></button>
		</td>
		<td class="cls_main_td">
			<div
				th:insert="fragments/static_content_fragments.html :: content_top_header(content=#{???})">
			</div>
			<section class="csl_slide">
				<div
					th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{???})">
				</div>
				<p class="cls_content_text" th:text="#{???}"></p>
				<th:block
					th:insert="fragments/slide_fragments.html :: slide_botton_menu(example_link='/examples/???' , exercise_link='/exercises/???')"></th:block>
				<section class="cls_slide_cite"></section>
			</section>
		</td>
		<td>
			<button id="page_flip_btn_right" class="cls_page_flip_btn cls_page_flip_btn_right"></button>
		</td>
	</tr>
</table>