
<section th:fragment="???"  id="slide_?" class="csl_slide">
<!-- 	<th:block -->
<!-- 		th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{???})"> -->
<!-- 	</th:block> -->
<!-- 	<p class="cls_content_text" th:text="#{???}"></p> -->
<!-- 	<p class="cls_content_text cls_content_text_enum" th:text="#{???}"></p> -->
	
<!-- 	<th:block th:insert="fragments/slide_fragments.html :: slide_botton_menu()"></th:block> -->
	
	<section class="cls_slide_cite">
		<th:block th:insert="fragments/reference_fragments :: reference_label"></th:block>
		
<!-- 		<th:block th:insert="fragments/reference_fragments :: ???"></th:block>  -->
<!-- 		<th:block th:insert="fragments/reference_fragments :: reference_sep"></th:block>  -->
	</section>
</section>