
<!-- 					Average speed -->
<section th:fragment="average_speed" id="slide_4" class="cls_slide">
	<th:block
		th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{AVERAGE.SPEED})">
	</th:block>
	<p class="cls_content_text" th:text="#{TEXT00028}"></p>
	<p class="cls_content_text" th:text="#{TEXT00029}"></p>
	<th:block
		th:insert="fragments/slide_fragments.html :: slide_botton_menu(example_link='/examples/mechanics/kinematics/rectilinear_motion_average_speed')"></th:block>
	<section class="cls_slide_cite">
		<span th:insert="fragments/reference_fragments :: reference_label">
		</span> </span> <span
			th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
		</span>
	</section>
</section>