
<section th:fragment="free_fall"  id="slide_12" class="csl_slide">
	<th:block
		th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{TEXT00062})">
	</th:block>
	<p class="cls_content_text" th:text="#{TEXT00063}"></p>
	<p class="cls_content_text" th:text="#{TEXT00064}"></p>
	<p class="cls_content_text" th:text="#{TEXT00065}"></p>
	<p class="cls_content_text" th:text="#{TEXT00066}"></p>
	<p class="cls_content_text" th:text="#{TEXT00067}"></p>	
	<th:block th:insert="fragments/slide_fragments.html :: slide_botton_menu()"></th:block>
	<section class="cls_slide_cite">
		<th:block th:insert="fragments/reference_fragments :: reference_label"></th:block>
		<th:block th:insert="fragments/reference_fragments :: reference_physic_giancoli_4"></th:block> 
	</section>
</section>