
<!-- 					Path -->
<section th:fragment="path" id="slide_2" class="cls_slide">
	<div
		th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{PATH})">
	</div>
	<p class="cls_content_text" th:text="#{TEXT00016}"></p>
	<p class="cls_content_text" th:text="#{TEXT00017}"></p>

	<th:block
		th:insert="fragments/slide_fragments.html :: slide_botton_menu(example_link='/examples/mechanics/kinematics/rectilinear_motion_path')"></th:block>
	<section class="cls_slide_cite">
		<span th:insert="fragments/reference_fragments :: reference_label">
		</span> </span> <span
			th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
		</span>
	</section>
</section>