<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kapitel anlegen</title>
</head>
<body>
<h1>Kapitel anlegen</h1>
<div>
	<form method="post" action="#" th:action="@{/perform_create_chapter}" th:object="${newChapter}">
<!-- 		<label for="selectParent">Anlegen unter:</label> -->
<!--     	<select th:field="*{parentId}" id="selectParent"> -->
<!--    	 	<option id="0", value="0">Neues Themengebiet</option> -->
<!--     	<option th:each="chapter : ${chapters}" th:id="${chapter.id}" th:value="${chapter.id}" th:text="${chapter.chapterName}"></option> -->
<!--     	</select> -->
<!--     	<br> -->
    	<label for="chapter_name">Kapitelname:</label>
    	<input id="chapter_name" type="text" th:field="*{chapterName}">
    	<br>
    	<input type="submit" value="Anlegen" />
	</form>
</div>
</body>
</html>