<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Physik</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/simditor/simditor.css}" />

<script type="text/javascript" th:src="@{/js/simditor/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/module.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/hotkeys.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/uploader.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/simditor.js}"></script>
</head>
<body>
	<h1 th:text="${header}"></h1>
	<form action="/knowledge_base/update_entry" method="post"
		th:object="${selectedChapter}">
		<div th:if="${isRoot == false}">
			<textarea style="display: none;" id="chapterContentChangeable"
				cols="100" rows="20" th:field="*{content}" autofocus></textarea>
		</div>
		<p id="chapterContentDisplayOnly" th:utext="*{linkedContent}"
			th:if="${isRoot == false}"></p>
		<input id="changeBtn" type="button" th:if="${isRoot == false}" value="Ändern"
			onclick="onChange()" /> 
		<input id="saveBtn" name="save"
			style="display: none;" type="submit" value="Speichern"/>
		<input
			id="cancelBtn" style="display: none;" type="button" value="Abbrechen"
			onclick="onCancel()" />
	</form>

	<table>
		<tr th:each="chapter : ${chapters}">
			<td><a th:href="@{'/getSubChapters4' + ${chapter.id}}"
				th:text="${chapter.chapterName}">view</a></td>
		</tr>
	</table>
	<form action="/knowledge_base/create_chapter" method="post"
		th:object="${selectedChapter}">
		<input type="submit" name="create" value="Kapitel Anlegen" />
	</form>
	<form action="/index" method="GET">
		<input type="submit" name="create" value="Stichwort Anlegen" />
	</form>

	<script type="text/javascript">
	
		var editor;
	
		function showKeywordExplanation(keywordId) {

			var xmlHttp = new XMLHttpRequest();

			var href = window.location.href;
			var pathname = window.location.pathname;
			var requestPathName = '/getKeywordExplanation/' + keywordId;
			// 			var params = 'id=' + keywordId
			;
			var url = href.replace(pathname, requestPathName);

			xmlHttp.open('GET', url, true);

			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					alert(xmlHttp.responseText);
			}
			// true for asynchronous

			xmlHttp.send(null);
		}

		var chapterContentBeforeChange = "";

		function onChange() {
			
			editor = new Simditor({
				textarea : $('#chapterContentChangeable')
			//optional options
			});
			
			var chapterContentTXA = document
					.getElementById('chapterContentChangeable');
			// 			chapterContentTXA.disabled = false;
			chapterContentBeforeChange = chapterContentTXA.value;

			chapterContentTXA.style.display = "block";
			document.getElementById('chapterContentDisplayOnly').style.display = "none";

			document.getElementById('saveBtn').style.display = "inline";
			document.getElementById('cancelBtn').style.display = "inline";
			document.getElementById('changeBtn').style.display = "none";

		}

		function onCancel() {
			
			editor.destroy();
			
			var chapterContentTXA = document.getElementById('chapterContentChangeable');
			// 			chapterContentTXA.disabled = true;
			chapterContentTXA.value = chapterContentBeforeChange;

			chapterContentTXA.style.display = "none";
			document.getElementById('chapterContentDisplayOnly').style.display = "block";

			document.getElementById('saveBtn').style.display = "none";
			document.getElementById('cancelBtn').style.display = "none";
			document.getElementById('changeBtn').style.display = "inline";

		}
	</script>
</body>
</html>