<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: style(pathPrefix='../../../../')"></th:block>
<th:block
	th:insert="fragments/static_content_fragments.html :: mjax_script"></th:block>
</head>
<body>
	<main>
		<div
			th:insert="fragments/static_content_fragments.html :: content_top_header(content=#{AVERAGE.SPEED})">
		</div>
		<table>
			<tr>
				<td>
					<button class="cls_page_flip_btn cls_page_flip_btn_left"></button>
				</td>
				<td class="cls_main_td">
					<section class="csl_slide">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(#{EXAMPLE} + ' 1: ' + #{POSITIVE.AVERAGE.SPEED})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00031}"></p>
						<p class="cls_content_text" th:text="#{TEXT00032}"></p>
						<section class="cls_slide_cite"></section>
					</section>
					<section class="csl_slide">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(#{EXAMPLE} + ' 2: ' + #{NEGATIVE.AVERAGE.SPEED})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00035}"></p>
						<p class="cls_content_text" th:text="#{TEXT00036}"></p>
						<section class="cls_slide_cite"></section>
					</section>
					<section class="csl_slide">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(#{EXAMPLE} + ' 3: ' + #{TEXT00030})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00037}"></p>
						<p class="cls_content_text" th:text="#{TEXT00038}"></p>
						<section class="cls_slide_cite"></section>
					</section>
					<section>
						<p class="cls_content_text" th:text="#{TEXT00039}"></p>
						<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00040}"></p>
						<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00041}"></p>
					</section>
				</td>
				<td>
					<button class="cls_page_flip_btn cls_page_flip_btn_right"></button>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>