<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Kapitel anlegen</title>
</head>
<body>
<h1>Kapitel anlegen</h1>
<div>
	<form method="post" action="#" th:action="@{/perform_create_entry}" th:object="${chapter}">
		<label for="selectParent">Anlegen unter:</label>
    	<select th:field="*{id}" id="selectParent">
   	 	<option value="0">Hauptkapitel</option>
    	<option th:each="chapter : ${chapters}" th:id="${chapter.id}" th:value="${chapter.id}" th:text="${chapter.chapterName}"></option>
    	</select>
    	<input type="submit" value="Anlegen" />
	</form>

</div>
</body>
</html>