<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Physik</title>
</head>
<body>
	<h1 th:text="${header}"></h1>
	<div th:if="${isRoot == false}">
   		<textarea cols="200" rows="5" th:text="${selectedChapter.content}"></textarea>
	</div>
	<table>
		<tr th:each="chapter : ${chapters}">
			<td><a th:href="@{'/getSubChapters4' + ${chapter.id}}" th:text="${chapter.chapterName}">view</a></td>
		</tr>
	</table>
	<form action="/table_of_contents/create_entry" method="get">
		<input type="submit" value="Anlegen" />
		<input th:if="${isRoot == false}" type="submit" value="Ändern" />
	</form>
</body>
</html>