<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Physik</title>
</head>
<body>
	<h1 th:text="${header}"></h1>
	<div th:if="${isRoot == false}">
		<textarea id="chapterContent" cols="200" rows="5" th:text="${selectedChapter.content}" disabled></textarea>
	</div>
	<table>
		<tr th:each="chapter : ${chapters}">
			<td><a th:href="@{'/getSubChapters4' + ${chapter.id}}"
				th:text="${chapter.chapterName}">view</a></td>
		</tr>
	</table>
	<form action="/table_of_contents/create_entry" method="post">
		<input type="submit" name="create" value="Anlegen" />
		<input type="button" th:if="${isRoot == false}" value="Ändern" onclick="onChange()" /> 
		<input id="saveBtn" name="save" style="display: none;" type="submit" value="Speichern" /> 
		<input id="cancelBtn" style="display: none;" type="button" value="Abbrechen" onclick="onCancel()" />
	</form>
	<script type="text/javascript">
	
		var chapterContentBeforeChange = "";
	
		function onChange(){
			var chapterContentTXA = document.getElementById('chapterContent');
			chapterContentTXA.disabled = false;
			chapterContentBeforeChange = chapterContentTXA.value;
			
			
			document.getElementById('saveBtn').style.display = "inline";
			document.getElementById('cancelBtn').style.display = "inline";
		}
		
		function onCancel(){
			var chapterContentTXA = document.getElementById('chapterContent');
			chapterContentTXA.disabled = true;
			chapterContentTXA.value = chapterContentBeforeChange;
			
			document.getElementById('saveBtn').style.display = "none";
			document.getElementById('cancelBtn').style.display = "none";
		}
	</script>
</body>
</html>