<span th:fragment="reference_label">
	<cite class="cls_reference">Quellen:</cite>
</span>

<span th:fragment="reference_wikipedia_klassische_mechanik">
	<cite class="cls_reference"><a 	href="https://de.wikipedia.org/wiki/Klassische_Mechanik" target="_blank">Wikipedia:Klassische Mechanik</a></cite>
</span>

<span th:fragment="reference_wikipedia_phyisc">
	<cite class="cls_reference"><a 	href="https://de.wikipedia.org/wiki/Physik" target="_blank">Wikipedia:Phyisk</a></cite>
</span>

<span th:fragment="reference_wikipedia_kinematic">
	<cite class="cls_reference"><a 	href="https://de.wikipedia.org/wiki/Kinematik" target="_blank">Wikipedia:Kinematik</a></cite>
</span>

<span th:fragment="reference_physic_giancoli_4">
	<cite class="cls_reference">Douglas C. Giancoli - Physik 4., aktualisierte Auflage - ISBN 978-3-86894-363-4</cite>
</span>

<span th:fragment="reference_physic_horst_kuchling">
	<cite class="cls_reference">Horst Kuchling - Taschenbuch der Physik 16. Auflage - ISBN 3-445-21054-7</cite>
</span>

<span th:fragment="reference_sep"><cite class="cls_reference">, </cite></span>