<sub th:fragment="reference_label">
	<sub>Quellen:</sub>
</sub>

<sub th:fragment="reference_wikipedia_klassische_mechanik">
	<a 	href="https://de.wikipedia.org/wiki/Klassische_Mechanik" target="_blank">Wikipedia:Klassische Mechanik</a>
</sub>

<sub th:fragment="reference_wikipedia_phyisc">
	<a 	href="https://de.wikipedia.org/wiki/Physik" target="_blank">Wikipedia:Phyisk</a>
</sub>

<sub th:fragment="reference_wikipedia_kinematic">
	<a 	href="https://de.wikipedia.org/wiki/Kinematik" target="_blank">Wikipedia:Kinematik</a>
</sub>

<sub th:fragment="reference_physic_giancoli_4">
	<cite>Douglas C. Giancoli - Physik 4., aktualisierte Auflage - ISBN 978-3-86894-363-4</cite>
</sub>

<sub th:fragment="reference_physic_horst_kuchling">
	<cite>Horst Kuchling - Taschenbuch der Physik 16. Auflage - ISBN 3-445-21054-7</cite>
</sub>

<sub th:fragment="reference_sep"><sub>, </sub>
</sub>