<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Labor - Inclined Plane</title>
<script type="module" th:src="@{/js/draw_statics.js}"></script>
</head>
<body onload="init()">
	<h1>Labor - Inclined Plane</h1>
	<div>
		<canvas id="myCanvas" width="700" height="600">
		Your browser does not support the HTML5 canvas tag.
		</canvas>
	</div>
	<div>
		<button onclick="increaseHeight()">Height +</button>
		<button onclick="decreaseHeight()">Height -</button>
	</div>
	<script>
		
		function init() {

			var canvas = document.getElementById("myCanvas");
			var context = canvas.getContext("2d");
			
			initInclinedPlane(context, canvas.width, canvas.height);
		}
		
		function increaseHeight(){
			var canvas = document.getElementById("myCanvas");
			var context = canvas.getContext("2d");
			redrawInclinedPlane(0,1);
		}
		
		function decreaseHeight(){
			var canvas = document.getElementById("myCanvas");
			var context = canvas.getContext("2d");
			redrawInclinedPlane(0,-1);
		}
	</script>
</body>
</html>