<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Labor - Inclined Plane</title>

<script type="module" th:src="@{/js/draw_statics.js}"></script>
<style>
#height_slider{
 width: 8px;
 height: 600px;
 /*padding: 10px;*/
}
#fg_slider{
 height: 8px;
 width: 700px;
 /*padding: 10px;*/
}
</style>
</head>
<body onload="init()">
	<h1>Labor - Inclined Plane</h1>
	<div>
		<canvas id="myCanvas" width="700" height="600">
		Your browser does not support the HTML5 canvas tag.
		</canvas>	
		<input id="height_slider" type="range" orient="vertical" min="0" max="580" value="50"/>
	</div>
		<input id="fg_slider" type="range" min="0" max="200" value="50"/>
	<div>
	<div>
		<label for="alpha">α:</label>
		<input type="text" id="alpha" name="alpha" value="" readonly>
		<label for="planeHeight">h:</label>
		<input type="text" id="planeHeight" name="planeHeight" value="" readonly>
		<label for="planeLength">l:</label>
		<input type="text" id="planeLength" name="planeLength" value="" readonly><br>
		<label for="gewichtskraft">G:</label>
		<input type="text" id="gewichtskraft" name="planeHeight" value="" readonly>
		<label for="normalkraft">F<sub>N</sub>:</label>
		<input type="text" id="normalkraft" name="normalkraft" value="" readonly>
		<label for="hangabtriebskraft">F<sub>H</sub>:</label>
		<input type="text" id="hangabtriebskraft" name="hangabtriebskraft" value="" readonly>
	</div>
		
	</div>
	<script>
		var heightSlider = document.getElementById("height_slider");
		var heightSliderLastValue = heightSlider.value;
		
		heightSlider.oninput = function() {
			var delta = this.value - heightSliderLastValue;
		  	redrawInclinedPlane(clearAtGetCanvasContext(), 0,delta);
		  	
		  	heightSliderLastValue = this.value;
  			
  			setDataOutput();
		}
		
		var fgSlider = document.getElementById("fg_slider");
		var fgSliderLastValue = fgSlider.value;
		
		fgSlider.oninput = function() {
			var delta = this.value - fgSliderLastValue;
		  	redrawInclinedPlane(clearAtGetCanvasContext(), delta, 0);
		  	
		  	fgSliderLastValue = this.value;
		  	
  			setDataOutput();
		}
		
		function init() {
			var canvas = document.getElementById("myCanvas");
			var context = canvas.getContext("2d");
			
			initInclinedPlane(context, canvas.width, canvas.height);
			
  			document.getElementById("height_slider").value = getHeightSilderDefault();
  			heightSliderLastValue = heightSlider.value;
  			
  			document.getElementById("fg_slider").value = getFgSilderDefault();
  			fgSliderLastValue = fgSlider.value;
  			
  			setDataOutput();
		}
		
		function setDataOutput(){
  			
  			document.getElementById("alpha").value = getAlphaInDegree();
  			document.getElementById("planeHeight").value = getPlaneHeight();
  			document.getElementById("planeLength").value = getPlaneLength();
  			document.getElementById("gewichtskraft").value = getGewichtskraft();
  			document.getElementById("normalkraft").value = getNormalkraft();
  			document.getElementById("hangabtriebskraft").value = getHangabtriebskraft();
		}
		
		function increaseHeight(){
			
			redrawInclinedPlane(clearAtGetCanvasContext(), 0, 1);
		}
		
		function decreaseHeight(){
			
			redrawInclinedPlane(clearAtGetCanvasContext(), 0,-1);
		}
		
		function clearAtGetCanvasContext(){
			var canvas = document.getElementById("myCanvas");
			var context = canvas.getContext("2d");
			
			context.clearRect(0, 0, canvas.width, canvas.height);
			
			return context;
		}
	</script>
</body>
</html>