@charset "UTF-8";
.cls_main_nav {
	list-style-type: none;
	margin:0;
  	padding:0;
/*   	columns: 100px 4; */
/*   	column-gap:0; */
}

.cls_main_nav_item a {
  display: block;
  color: black;
  text-align: center;
  background-color: lightgray;
  padding: 0.2em 0.6em;
  text-decoration: none;
  border: 1px solid lightgray;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.cls_main_nav_item a:hover {
  background-color: silver;
  border: 1px solid darkgray;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}