@charset "UTF-8";
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

nav li {
	margin: 0.5em;
	padding: 0;
	font-size: 1.5rem;
	flex: 1 1 0%;
}

@media (min-width: 45em) {
	nav  ul {
		flex-direction: row;
		height: 3em;
	}
	nav li {
		flex: 1;
		font-size: 1em;
	}
}

nav a {
	display: block;
	padding: 0.4em;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	color: black;
	background-color: gray;
	transition: all .1s ease-in;
}

nav a:focus,
nav a:hover {
	color: black;
	background-color: lightgray;
}
/*     cls_nav_2nd navigation links      */

nav .cls_nav_2nd  {
/* 	visibility: hidden; */
	display: none;
	height: 0;
	position: relative;
	z-index: 1000;
}

nav .cls_nav_3rd  {
/* 	visibility: hidden; */
	display: none;
	height: 0;
	position: relative;
	z-index: 1000;
}

/* nav .cls_nav_2nd li { */
/* 	display: block; */
/* 	/* width: 15em; */ */
/* } */
/**     Show the cls_nav_2nd on hover, focus     * */

/* nav li:hover .cls_nav_2nd, */
nav li:active .cls_nav_2nd,
nav li:focus .cls_nav_2nd {
/* 	visibility: visible; */
	display: block;
	height: auto;
}

nav li:focus-within .cls_nav_2nd {
/* 	visibility: visible; */
	display: block;
	height: auto;
}

/* nav .cls_nav_2nd li:hover .cls_nav_3rd, */
nav .cls_nav_2nd li:active .cls_nav_3rd,
nav .cls_nav_2nd li:focus .cls_nav_3rd {
/* 	visibility: visible; */
	display: block;
	height: auto;
}

nav .cls_nav_2nd li:focus-within .cls_nav_3rd {
/* 	visibility: visible; */
	display: block;
	height: auto;
}

footer {
	position: relative;
	z-index: 0;
	margin: 5%;
}

main {
	margin: 5%;
}

body {
	background-color: #E8E8E8;
}

.cls_content_top_header {
	text-decoration: underline;
	font-size: large;
}

.content_section_header {
	text-decoration: underline;
	font-size: medium;
}

.cls_content_text_enum:before {
	content: "- ";
	margin-left: 2%;
}

.cls_reference {
/* 	font-size: small; */
/* 	font-style: italic; */
}

.cls_indexed_term  {
	color: black;
	text-decoration: underline;
	text-decoration-style: dotted;
}