
<section th:fragment="introduction" id="slide_0" class="csl_slide">

	<p class="cls_content_text" th:text="#{TEXT00006}"></p>
	<p class="cls_content_text" th:text="#{TEXT00007}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00008}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00009}"></p>
	<p class="cls_content_text" th:text="#{TEXT00010}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00011}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00012}"></p>
	<p class="cls_content_text" th:text="#{TEXT00013}"></p>

	<section class="cls_slide_cite">
		<span th:insert="fragments/reference_fragments :: reference_label">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_physic_horst_kuchling">
		</span> <span th:insert="fragments/reference_fragments :: reference_sep">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
		</span> <span th:insert="fragments/reference_fragments :: reference_sep">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_wikipedia_kinematic">
		</span>
	</section>
</section>