
<section th:fragment="introduction"  id="slide_0" class="csl_slide">
	<p class="cls_content_text" th:text="#{TEXT00000}"></p>
	<p class="cls_content_text" th:text="#{TEXT00001}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00002}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00003}"></p>
	<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00004}"></p>
	<p class="cls_content_text" th:text="#{TEXT00005}"></p>
	
	<section class="cls_slide_cite">
		<span th:insert="fragments/reference_fragments :: reference_label">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_wikipedia_phyisc">
		</span> <span th:insert="fragments/reference_fragments :: reference_sep">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_wikipedia_klassische_mechanik">
		</span> <span th:insert="fragments/reference_fragments :: reference_sep">
		</span> <span
			th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
		</span>
	</section>
</section>