<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/static_content_fragments.html :: head()"></th:block>
<body onload="index(document); initModalWindow()">
	<th:block th:insert="fragments/static_content_fragments.html :: header"></th:block>
	<th:block th:insert="fragments/static_content_fragments.html :: navigation_bar"></th:block>
	<main>
		<th:block th:insert="mechanics/kinematics/rectilinear_motion/frame.html :: frame"></th:block>
	</main>
	<th:block th:insert="fragments/static_content_fragments.html :: footer"></th:block>
	<th:block th:insert="fragments/modal_window_fragments.html :: modal_iframe_and_script"></th:block>
</body>
</html>