<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<th:block th:insert="fragments/static_content_fragments.html :: style(pathPrefix='../../../')"></th:block>
<th:block th:insert="fragments/static_content_fragments.html :: mjax_script"></th:block>	
<th:block th:insert="fragments/modal_window_fragments.html :: modal_css"></th:block>
</head>
<body>
	<div th:insert="fragments/static_content_fragments.html :: header">
	</div>
	<div
		th:insert="fragments/static_content_fragments.html :: navigation_bar">
	</div>
	<main>
		<table>
			<tr>
				<td>
					<button class="cls_page_flip_btn cls_page_flip_btn_left"></button>
				</td>
				<td class="cls_main_td">
					<div
						th:insert="fragments/static_content_fragments.html :: content_top_header(content=#{RECTILINEAR.MOTION})">
					</div>
<!-- 					Basic information about rectilinear motion -->
					<section class="cls_slide_cite">
						<p class="cls_content_text" th:text="#{TEXT00014}"></p>
						<p class="cls_content_text" th:utext="#{TEXT00015}"></p>
						<section class="cls_slide_cite">
							<span
								th:insert="fragments/reference_fragments :: reference_label">
							</span> </span> <span
								th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
							</span>
						</section>
					</section>
<!-- 					Path -->
					<section class="cls_slide_cite">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{PATH})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00016}"></p>
						<p class="cls_content_text" th:text="#{TEXT00017}"></p>

						<th:block															
							th:insert="fragments/example_fragments.html :: example_link(example_link='/examples/mechanics/kinematics/rectilinear_motion_path')"></th:block>
						<section class="cls_slide_cite">
							<span
								th:insert="fragments/reference_fragments :: reference_label">
							</span> </span> <span
								th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
							</span>
						</section>
					</section>
<!-- 					Speed -->
					<section class="cls_slide_cite">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{SPEED})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00025}"></p>
						<p class="cls_content_text" th:text="#{TEXT00026}"></p>
						<p class="cls_content_text" th:text="#{TEXT00027}"></p>
						<section class="cls_slide_cite">
							<span
								th:insert="fragments/reference_fragments :: reference_label">
							</span> </span> <span
								th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
							</span>
						</section>
					</section>
<!-- 					Average speed -->
					<section class="cls_slide_cite">
						<div
							th:insert="fragments/static_content_fragments.html :: content_section_header(content=#{AVERAGE.SPEED})">
						</div>
						<p class="cls_content_text" th:text="#{TEXT00028}"></p>
						<p class="cls_content_text" th:text="#{TEXT00029}"></p>
						<th:block															
							th:insert="fragments/example_fragments.html :: example_link(example_link='/examples/mechanics/kinematics/rectilinear_motion_average_speed')"></th:block>
						<section class="cls_slide_cite">
							<span
								th:insert="fragments/reference_fragments :: reference_label">
							</span> </span> <span
								th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
							</span>
						</section>
					</section>
				</td>
				<td>
					<button class="cls_page_flip_btn cls_page_flip_btn_right"></button>
				</td>
			</tr>
		</table>
	</main>
	<div th:insert="fragments/static_content_fragments.html :: footer">
	</div>
	<span
		th:insert="fragments/modal_window_fragments.html :: modal_iframe_and_script"></span>
</body>
</html>