<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/static_content_fragments.html :: title"></th:block>
<link id="link_main_theme" type="text/css" rel="stylesheet"
	th:href="@{../../../css/themes/basic/main_theme.css}" />
</head><body>
	<div th:insert="fragments/static_content_fragments.html :: header"> </div>
	<div th:insert="fragments/static_content_fragments.html :: navigation_bar"> </div>
	<main>
		<div th:insert="fragments/static_content_fragments.html :: content_top_header(content=#{CLASSIC.MECHANICS})"> </div>
		<section>
			<p class="cls_content_text" th:text="#{TEXT00000}"></p>
			<p class="cls_content_text" th:text="#{TEXT00001}"></p>
			<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00002}"></p>
			<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00003}"></p>
			<p class="cls_content_text cls_content_text_enum" th:text="#{TEXT00004}"></p>
			<p class="cls_content_text" th:text="#{TEXT00005}"></p>
		</section>
		<section>
			<cite class="cls_reference"> <sub
				th:insert="fragments/reference_fragments :: reference_label">
			</sub> <sub
				th:insert="fragments/reference_fragments :: reference_wikipedia_phyisc">
			</sub> <sub th:insert="fragments/reference_fragments :: reference_sep">
			</sub> <sub
				th:insert="fragments/reference_fragments :: reference_wikipedia_klassische_mechanik">
			</sub> <sub th:insert="fragments/reference_fragments :: reference_sep">
			</sub> 
			<sub
				th:insert="fragments/reference_fragments :: reference_physic_giancoli_4">
			</sub>
			</cite>
		</section>
	</main>
	<div th:insert="fragments/static_content_fragments.html :: footer"> </div>
</body>
</html>