<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jasic</title>
<link id="link_main_theme" type="text/css" rel="stylesheet"
	th:href="@{../../../css/themes/basic/main_theme.css}" />
</head><body>
	<div th:insert="fragments/static_content_fragments.html :: header"> </div>
	<div th:insert="fragments/static_content_fragments.html :: navigation_bar"> </div>
	<main>
		<div th:insert="fragments/static_content_fragments.html :: content_top_header(content='Klassische Mechanik')"> </div>
		<section>
			<p class="cls_content_text">Die klassische Mechanik oder
				Newtonsche Mechanik ist ein Teilgebiet der Physik. Sie wurde im 16.
				und 17. Jahrhundert maßgeblich von Galileo Galilei und Isaac Newton
				begründet.</p>
			<p class="cls_content_text">Sie beschreibt:	</p>
			<p class="cls_content_text cls_content_text_enum">Bewegung von
				festen, flüssigen oder gasförmigen Körpern unter dem Einfluss von
				Kräften.</p>
			<p class="cls_content_text cls_content_text_enum">Trägheitsbewegung
				in Abwesenheit einer Kraft.</p>
			<p class="cls_content_text cls_content_text_enum">Statisches
				Gleichgewicht in Anwesenheit einer Kraft.</p>
			<p class="cls_content_text">Typische Anwendungsfälle sind:
				Himmelsmechanik, Technische Mechanik,
				Hydrodynamik, Aerodynamik, Statik und Biomechanik.</p>
		</section>
		<section>
			<cite class="cls_reference"> <sub
				th:insert="fragments/reference_fragments :: reference_label">
			</sub> <sub
				th:insert="fragments/reference_fragments :: reference_wikipedia_phyisc">
			</sub> <sub th:insert="fragments/reference_fragments :: reference_sep">
			</sub> <sub
				th:insert="fragments/reference_fragments :: reference_wikipedia_klassische_mechanik">
			</sub>
			</cite>
		</section>
	</main>
	<div th:insert="fragments/static_content_fragments.html :: footer"> </div>
</body>
</html>